.banner{
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    height: 100vh;
}
.text-container{
    position: relative;
    left: 10%;
    top: 40%;
}


/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
.banner h1{
    font-weight: 700;
    color: #49FDC9;
}
.banner p{
    color: rgb(235, 236, 237);
}
@media screen and (max-width:1000px) {
  .banner{
    flex-direction: column-reverse;
    display: flex;
  }
  .banner h1{
    font-size: 1.8rem;
  }
  .imgcontainer{
    margin: 0 auto;
    width: 40%;
  }
  .text-container{
    width: 80%;
    position: relative;
    top: 0;
    left: 0;
    margin: 2rem auto;
  }
  .text-container h1{
    margin:10rem auto 1rem;
    width: 60%;
    text-align: center;
  }
  .text-container p{
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width:500px) {
  .text-container h1{
    margin:10rem auto 1rem;
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
  }
  .imgcontainer{
    margin: -6rem auto;
    width: 70%;
  }
  .button-29{
    width: 30%;
    font-size: 0.8rem;
  }
}